/* Tesla Mockup - Author: Ayelet Danieli */

@font-face {
    font-family: "Gotham Medium";
    src: url("/Fonts/GothamMedium.ttf") format("truetype");
  }
  
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    
    --tds-border-style: solid;
    --tds-border-radius: 4px;
    --tds-border-radius--forms: 20px;
    --tds-border-radius--pill: 100px;
    --tds-border-width--hairline: 0.5px;
    --tds-border-width--small: 1px;
    --tds-border-width--medium: 2px;
    --tds-border-width--large: 3px;
    --tds-color--black: #000;
    --tds-color--grey10: #171a20;
    --tds-color--grey15: #222;
    --tds-color--grey20: #393c41;
    --tds-color--grey25: #444;
    --tds-color--grey30: #5c5e62;
    --tds-color--grey35: #757575;
    --tds-color--grey40: #a2a3a5;
    --tds-color--grey50: #d0d1d2;
    --tds-color--grey60: #eee;
    --tds-color--grey70: #f4f4f4;
    --tds-color--white: #fff;
    --tds-color--blue30: #3e6ae1;
    --tds-color--blue20: #3457b1;
    --tds-color--blue10: #2e4994;
    --tds-color--red10: #b74134;
    --tds-color--red20: #ed4e3b;
    --tds-color--green10: #12bb00;
    --tds-color--green20: #02e359;
    --tds-color--yellow: #fbb01b;  
    --tds-size: 8px;
    --tds-size--half: 4px;
    --tds-size--1x: 8px;
    --tds-size--2x: 16px;
    --tds-size--3x: 24px;
    --tds-size--4x: 32px;
    --tds-size--5x: 40px;
    --tds-size--6x: 48px;
    --tds-size--7x: 56px;
    --tds-size--8x: 64px;
    --tds-size--9x: 72px;
    --tds-size--10x: 80px;
    --tds-size--11x: 88px;
    --tds-size--12x: 96px;
    --tds-size--13x: 104px;
    --tds-font-size--80: 40px;
    --tds-heading-font-weight: 500;
}

.tds--is_visually_hidden:not(:focus):not(:active) {
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

/* .tds-icon-wordmark--inverted {
  background-image: url('/img/tesla-9.svg');
  } */
  
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Gotham Medium";
    font-weight: 400;;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
   
  }

  .tds-link, a {
    border: 0;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    text-decoration: none;
    text-align: initial;
    color: #393c41;
    color: var(--tds-color--grey20);
    font-family: Gotham Book,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-family: var(--tds-font-combined);
    transition: box-shadow .25s cubic-bezier(.5,.25,.25,.75),color .25s cubic-bezier(.5,.25,.25,.75);
    box-shadow: 0 1px 0 0 currentColor;
    box-shadow: 0 var(--tds-border-width--small) 0 0 currentColor;
}

  h1 {
    text-align: center;
    font-size: var(--tds-font-size--80,40px);
    font-weight: var(--tds-heading-font-weight);
  }
  
  .page-wrapper {
    background: url('/img/model-3-hero-desktop.jfif') no-repeat center center/cover;
    height: calc(100vh - var(--tds-size--3x));
  }
  
   
  /* main-nav-container  */
  .menu-nav {
    /* background-color:var(--bgDark); */
    /* color:var(--lightColor); */
    overflow:auto;
    text-transform: uppercase;
    padding: 10px;
    /* display:flex; */
    /* justify-content: center; */
    inline-size: 100%;
  }

  .menu-nav a img {
    width: 100px;
  }

  .model-center-nav-menu {
    margin: 0 auto;
  }
  .menu-nav a {
    /* float: left; */
    /* color: #f2f2f2; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    /* text-decoration: none; */
    /* font-size: 17px; */
    /* width: 100%;    */
  }
  .menu-nav h1 {
    /* float: left; */
    /* display: flex; */
    /* padding: 20px; */
    display: inline;
}

.menu-nav ul {
    /* float: right; */
    list-style: none;
    /* display:flow; */
    /* justify-content: center; */
    /* align-content: center; */
    /* padding:5px; */
}

.menu-nav ul li {
    float: left;
    cursor: pointer;
    padding: 0 10px;
}

.menu-nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;

}


/* **************************************** */
  main {
    /* background: url('/img/model-3-hero-desktop.jfif') no-repeat center center/cover; */
        /* background: palegreen; */
      /* height: calc(100vh - var(--tds-size--10x)); */
      height: 100vh;
      /* width: 100vh; */
  }


  .section1 {
    background-color: transparent;
    /* background: url('/img/model-3-hero-desktop.jfif') no-repeat center center/cover; */

    height: 100vh;
  }

  .section2 {
    background-color: aqua;
    height: 100vh;
  }

  .section3 {
    background-color: aquamarine;
    height: 100vh;
  }



  /* to do: classes that need to be deleted afterwareds */
  section {
    text-align:  center;
  }